<div class="content-wrapper">

  <div class="row">
     <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Nuevo Vehiculo</h4>
          
          <form class="forms-sample" #formVehiculo="ngForm">
            <div class="form-group">
              <div class="form-group">
                <label for="FechaIngreso">Fecha de ingreso</label>
              </div>
              <mat-form-field>
                <input matInput id="FechaIngresoVehiculo" [matDatepicker]="picker" placeholder="Seleccionar" name="fechaIngresoVehiculo" #fechaIngresoVehiculo="ngModel" [(ngModel)]="vehiculo.fechaIngreso" required>
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> 
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="Dominio">Dominio</label>
                  <input type="text" class="form-control" id="Dominio" placeholder="Dominio" name="dominio" [(ngModel)]="vehiculo.dominio" required>
                </div>     
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="Numero de Chasis">Numero de Chasis</label>
                  <input type="text" class="form-control" id="Numero de Chasis" placeholder="Numero de Chasis" name="numeroChasis" [(ngModel)]="vehiculo.numeroChasis" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="Marca">Marca</label>
              <input type="text" class="form-control" id="Marca" placeholder="Marca" name="marca" [(ngModel)]="vehiculo.marca" required>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Modelo">Modelo</label>
                  <input type="text" class="form-control" id="Modelo" placeholder="Modelo" name="modelo" [(ngModel)]="vehiculo.modelo" required>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="Año">Año</label>
                  <input type="number" class="form-control" id="Año" placeholder="Año" name="year" [(ngModel)]="vehiculo.year" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="PrecioVenta">Precio de venta</label>
                  <input type="texto" class="form-control" id="PrecioVenta" placeholder="Marca" name="precioVenta" [(ngModel)]="vehiculo.precioVenta" required>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-group">
                  <label for="PrecioCompre">Precio de compra</label>
                  <input type="texto" class="form-control" id="PrecioCompre" placeholder="Marca" name="precioCompra" [(ngModel)]="vehiculo.precioCompra" required>
                </div>
              </div>
            </div>
            
            
            
            <br>
            <hr>
            <h4>Documentación recibida</h4>

            <div class="form-sample">
              <div class="col-md-7">
                <div class="form-group">
                  <div class="row">
                    <div class="column">
                    <div>
                      <mat-checkbox
                        class="example-margin"
                         name="titulo" [(ngModel)]="vehiculo.titulo"
                        
                        [labelPosition]="labelPosition"
                        [disabled]="false">
                        Titulo
                      </mat-checkbox> 
                    </div>
                    <div>
                      <mat-checkbox
                        class="example-margin"
                        name="cedulaVerde" [(ngModel)]="vehiculo.cedulaVerde"
                        [(indeterminate)]="indeterminate"
                        [labelPosition]="labelPosition"
                        [disabled]="disabled">
                        Cedula Verde
                      </mat-checkbox> 
                    </div>
                    <div>
                      <mat-checkbox
                        class="example-margin"
                        name="formularioFirmado" [(ngModel)]="vehiculo.formularioFirmado"
                        [(indeterminate)]="indeterminate"
                        [labelPosition]="labelPosition"
                        [disabled]="disabled">
                        Formulario 08 Firmado
                      </mat-checkbox> 
                    </div>

                  </div>
                  
                  <div class="column">
                      <div>
                        <mat-checkbox
                          class="example-margin"
                          name="verPolicial" [(ngModel)]="vehiculo.verPolicial"
                          [(indeterminate)]="indeterminate"
                          [labelPosition]="labelPosition"
                          [disabled]="disabled">
                          Verificación policial
                        </mat-checkbox>
                      </div>
                      <div>
                        <mat-checkbox
                          class="example-margin"
                          name="estadoDom" [(ngModel)]="vehiculo.estadoDom"
                          [(indeterminate)]="indeterminate"
                          [labelPosition]="labelPosition"
                          [disabled]="disabled">
                          Estado Dominio c/13i
                        </mat-checkbox> 
                      </div>
                      <div>
                        <mat-checkbox
                          class="example-margin"
                          name="prenda" [(ngModel)]="vehiculo.prenda"
                          [(indeterminate)]="indeterminate"
                          [labelPosition]="labelPosition"
                          [disabled]="disabled">
                          Prenda
                        </mat-checkbox>
                      </div>
                      <div>
                        <mat-checkbox
                          class="example-margin"
                          name="rto" [(ngModel)]="vehiculo.rto" [(indeterminate)]="indeterminate"
                          [labelPosition]="labelPosition"
                          [disabled]="disabled">
                          RTO
                        </mat-checkbox> 
                      </div>
                      <br>
                      
                      
                    </div>
                    <div class="column example-margin">
                          <p>Imp. Parque Automotor</p>
                          <div class="row">
                            <div class="col-md-5">
                              <input type="number" class="form-control" id="Anio" placeholder="Año" name="anio" [(ngModel)]="imp.anio" style="padding-right: 10px">
                              
                            </div>
                            <div class="col-md-5">
                              <button (click)="guardarImp(imp)" class="btn btn-success mr-2">Agregar año</button>
                            </div>
                            
                            
                          </div>
                          <br>
                          <div class="row">
                            
                            <mat-form-field>
                                <mat-select placeholder="Seleccione año" [(ngModel)]="impues" name="selec">
                                  <mat-option *ngFor="let i of vehiculo.impParque" [value]="i">
                                    {{i.anio}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                          </div>
                          
                          <div class="row" *ngIf="impues">
                            <div class="column">

                                <mat-checkbox
                                  class="example-margin"
                                  name="cuotaUno"
                                  [(ngModel)]="impues.cuotas[0]"
                                  [(indeterminate)]="indeterminate"
                                  [labelPosition]="labelPosition"
                                  [disabled]="disabled">
                                 Cuota 1
                                </mat-checkbox>
                            </div>
                            <div class="column">
                                <mat-checkbox
                                  class="example-margin"
                                  name="cuotaDos"
                                  [(ngModel)]="impues.cuotas[1]"
                                  [(indeterminate)]="indeterminate"
                                  [labelPosition]="labelPosition"
                                  [disabled]="disabled">
                                 Cuota 2
                                </mat-checkbox>
                            </div>
                            <div class="column">
                                <mat-checkbox
                                  class="example-margin"
                                  name="cuotatres"
                                  [(ngModel)]="impues.cuotas[2]"
                                  [(indeterminate)]="indeterminate"
                                  [labelPosition]="labelPosition"
                                  [disabled]="disabled">
                                 Cuota 3
                                </mat-checkbox>
                            </div>
                            <div class="column">
                                <mat-checkbox
                                  class="example-margin"
                                  name="cuotaCuatro"
                                  [(ngModel)]="impues.cuotas[3]"
                                  [(indeterminate)]="indeterminate"
                                  [labelPosition]="labelPosition"
                                  [disabled]="disabled">
                                 Cuota 4
                                </mat-checkbox>
                            </div>
                            <div class="column">
                                <mat-checkbox
                                  class="example-margin"
                                  name="cuotaCinco"
                                  [(ngModel)]="impues.cuotas[4]"
                                  [(indeterminate)]="indeterminate"
                                  [labelPosition]="labelPosition"
                                  [disabled]="disabled">
                                 Cuota 5
                                </mat-checkbox>
                            </div> 
                            <div class="col-md-5">
                              <button (click)="eliminarImp(impues)" class="btn btn-danger mr-2">Eliminar año</button>
                            </div>
                          </div>                       
                        </div>
                  </div>
                  
                </div>

              </div>

            </div>
            <hr>
            <div class="row">
              <div class="column" style="padding-right: 20%">
                 
                <div class="form-sample">
                 <div class="col-md-7">
                  <h4>Vehículo</h4>
                  <div class="form-group">
                    <div>
                      <mat-checkbox
                            class="example-margin"
                            name="cedulaGnc" [(ngModel)]="vehiculo.cedulaGnc"
                            
                            [labelPosition]="after"
                            [disabled]="false">
                            Cedula GNC
                          </mat-checkbox> 
                    </div>
                    <div>
                      <mat-checkbox
                            class="example-margin"
                            name="duplicadoLlave" [(ngModel)]="vehiculo.duplicadoLlave"
                            
                            [labelPosition]="after"
                            [disabled]="false">
                            Duplicado Llave
                          </mat-checkbox> 
                    </div>
                    <div>
                      <mat-checkbox
                            class="example-margin"
                            name="manuales" [(ngModel)]="vehiculo.manuales"
                            
                            [labelPosition]="after"
                            [disabled]="false">
                            Manuales
                          </mat-checkbox> 
                    </div>
                    <div>
                      <mat-checkbox
                            class="example-margin"
                            name="codigoRadio" [(ngModel)]="vehiculo.codigoRadio"
                            
                            [labelPosition]="after"
                            [disabled]="false">
                            Codigo de Radio
                          </mat-checkbox> 
                    </div>
                  </div>
                    
                 </div> 
                  
                </div>
              </div>
              <div class="column">
                <h4>Herramientas</h4>
                <div class="form-sample">
                  <div class="col-md-7">
                    <div class="form-group">
                      <div>                
                          <mat-checkbox
                            class="example-margin"
                            name="ruedaAuxilio" [(ngModel)]="vehiculo.ruedaAuxilio"
                            
                            [labelPosition]="after"
                            [disabled]="false">
                            Rueda de Auxilio
                          </mat-checkbox> 
                        </div>
                        <div>
                          <mat-checkbox
                            class="example-margin"
                            name="llaveRueda" [(ngModel)]="vehiculo.llaveRueda"
                            
                            [labelPosition]="after"
                            [disabled]="false">
                            Llave rueda
                          </mat-checkbox> 
                        </div>
                    
                        <div>
                          <mat-checkbox
                            class="example-margin"
                            name="gato" [(ngModel)]="vehiculo.gato"
                            
                            [labelPosition]="after"
                            [disabled]="false">
                            Gato
                          </mat-checkbox> 
                        </div>
                    </div>
                  </div>              
                </div>
              </div>
            </div>
           <hr>
            <h4 class="card-title"> 
              Datos del propietario anterior
            </h4>

           
            <!--Datos vendedor-->
            
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Dni">DNI</label>
                      <div class="row">
                        <div class="col-md-3">
                          <select class="form-control form-control-sm">
                            <option value="dni">DNI</option>
                            <option value="lc">LC</option>
                            <option value="le">LE</option>
                          </select>
                        </div>
                        <div class="col-md-8">
                          <input type="number" class="form-control" placeholder="Numero" name="dni" [(ngModel)]="vehiculo.vendedor.dni">
                        </div>
                        <div class="col-md-1">
                          <button (click)="buscarCliente(vehiculo.vendedor.dni)" type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
                          
                        </div>
                        <p *ngIf="mensajeC" [ngStyle]="{'color':'red',
                          'font-size': '14px',
                          'margin': '10px'}">{{mensajeC}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" class="form-control" id="Nombre" placeholder="Nombre" name="nomb"
                  [(ngModel)]="vehiculo.vendedor.nombre" [disabled]="clienteEncontrado">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Apellido">Apellido</label>
                    <input type="text" class="form-control" id="Apellido" placeholder="Apellido" name="apellido" #apellido="ngModel" [(ngModel)]="vehiculo.vendedor.apellido" [disabled]="clienteEncontrado">
                  </div>
                </div>
              </div>
              
              <!--Contacto-->
              <div class="row">                 
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Celular</label>
                    <input type="number" class="form-control" id="Celular" placeholder="Celular" name="celular" #celular="ngModel" [(ngModel)]="vehiculo.vendedor.celular" [disabled]="clienteEncontrado">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="telAlternativo2">Email</label>
                    <input type="email" class="form-control" id="telAlternativo2" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="vehiculo.vendedor.email" [disabled]="clienteEncontrado">
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label>Domicilio Actual</label>
                <input type="text" class="form-control" placeholder="Domicilio" name="domicilio" #domicilio="ngModel" [(ngModel)]="vehiculo.vendedor.domicilio" [disabled]="clienteEncontrado">
                
              </div>
            
            
            <hr>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="obs">Observaciones</label>
                    </div>
                    <div class="col-md-4">
                      <textarea name="obs" id="" cols="20" rows="7" name="observaciones" [(ngModel)]="vehiculo.observaciones"></textarea>
                    </div>

                  </div>
            <br>
            <hr>


            <span style="float: right;">
              <button *ngIf="parmUrl" value="guardarDetalle" class="btn btn-success mr-2" (click)="guardarDetalleVehiculo(vehiculo)">Guardar detalle</button>

              <button *ngIf="!parmUrl" value="Guardar" class="btn btn-success mr-2" (click)="altaVehiculo()">Guardar</button>
            
              <button class="btn btn-light" [routerLink]="['/tablaVehiculos']">Cancelar</button>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
   
</div>