<div class="content-wrapper">
	<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Ingreso de cheque</h4>
					<form class="forms-sample" #form="ngForm" (ngSubmit)="onSubmit()">
						<div class="row">
							<div class="col-md-6">
				                <div class="form-group">
					                <label for="NumCheque">Numero</label>
					                <input type="number" class="form-control" placeholder="Numero" name="numero" #numero="ngModel" [(ngModel)]="cheque.numero" required>
					                <p style="color: red" *ngIf="!numero.valid && numero.touched">* Campo requerido</p>
				                </div>
			              	</div>
			                <div class="col-md-6">
			                    <div class="form-group">
					                <label for="banco">Banco</label>
					                <input type="text" class="form-control" placeholder="Banco" name="banco" #banco="ngModel" [(ngModel)]="cheque.banco" required>
					                <p style="color: red" *ngIf="!banco.valid && banco.touched">* Campo requerido</p>
			                	</div>
			              	</div>
						</div>
						<div class="row">
							<div class="col-md-6">
				                <div class="form-group">
					                <label for="Monto">Monto $</label>
					                <input type="number" class="form-control" id="Monto" placeholder="Monto" name="monto" #monto="ngModel"  [(ngModel)]="cheque.monto" required>
					                <p style="color: red" *ngIf="!monto.valid && monto.touched">* Campo requerido</p>
				                </div>
			              	</div>
			              <div class="col-md-6">
			                <div class=" form-group">
				              
				              <mat-form-field>
				                <input matInput id="venc" [matDatepicker]="picker4" placeholder="Vencimiento" name="vencimiento" #vencimiento="ngModel" [(ngModel)]="cheque.vencimiento" required>
				                <mat-datepicker-toggle matSuffix [for]="picker4" ></mat-datepicker-toggle>
				                <mat-datepicker #picker4></mat-datepicker>
				              </mat-form-field> 
				              <p style="color: red" *ngIf="!vencimiento.valid && vencimiento.touched">* Campo requerido</p>
				              
				            </div>
			              </div>
						</div>
						<div class="col-md-6">
				              
				              <div class="form-group">
				                  <mat-form-field>
					                <input matInput id="recep" [matDatepicker]="picker5" placeholder="Recepcion" name="recepcion" #recepcion="ngModel" [(ngModel)]="cheque.recepcion" required>
					                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
					                <mat-datepicker #picker5></mat-datepicker>
					              </mat-form-field>
					              <p style="color: red" *ngIf="!recepcion.valid && recepcion.touched">* Campo requerido</p> 
				              </div>
					              
				              
			            </div>

			            <div class="row">
			              <div class="col-md-2">
			                <label for="obs">Concepto</label>
			              </div>
			              <div class="col-md-4">
			                <textarea name="obs" id="" cols="20" rows="7" name="concepto" #concepto="ngModel" [(ngModel)]="cheque.concepto" required></textarea>
			                <p style="color: red" *ngIf="!concepto.valid && concepto.touched">* Campo requerido</p>
			              </div>

			            </div>
						<hr>
						<h4>Entregador</h4>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="Dni">DNI</label>
									<div class="row">
				                        <div class="col-md-3">
				                          <select class="form-control form-control-sm" name="docTipo" #docTipo="ngModel" [(ngModel)]="cliente.docTipo">
					                          <option value="dni">DNI</option>
					                          <option value="lc">LC</option>
					                          <option value="le">LE</option>
					                          <option value="pasaporte">PASAPORTE</option>
				                          </select>
				                        </div>
				                        <div class="col-md-8">
				                          <input type="number" class="form-control" placeholder="Numero" name="dni" #dni="ngModel" [(ngModel)]="cliente.dni" required>
				                          <p style="color: red" *ngIf="!dni.valid && dni.touched">* Campo requerido</p>
				                        </div>
				                        <div class="col-md-1">
				                        	<button (click)="buscarCliente(cliente.dni)" type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
				                        	
				                        </div>
				                    </div>
								</div>
							</div>
						</div>
						<div class="row">
			              <div class="col-md-6">
			                <div class="form-group">
				                <label for="Nombre">Nombre</label>
				                <input type="text" class="form-control" id="Nombre" placeholder="Nombre" name="nomb"
				                [(ngModel)]="cliente.nombre" disabled>
			                </div>
			              </div>
			              <div class="col-md-6">
			                <div class="form-group">
			                  <label for="Apellido">Apellido</label>
			                  <input type="text" class="form-control" id="Apellido" placeholder="Apellido" name="apellido" #apellido="ngModel" [(ngModel)]="cliente.apellido" disabled>
			                </div>
			              </div>
			            </div>
			            
			            <div class="row">
			              <div class="col-md-6">
			                <div class="form-group">
			                  	<label for="Celular">Telefono</label>
                  				<input type="number" class="form-control" id="Celular" placeholder="Celular" name="celular" #celular="ngModel" [(ngModel)]="cliente.celular" disabled>
			                </div>
			              </div>
			            </div>			  		            			           
			            
			            <hr>
			            <h4>Librador</h4>
			            <div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="nombre">Nombre</label>
		                          	<input type="text" class="form-control" placeholder="Numero" name="nombre" [(ngModel)]="librador.nombre">
								</div>
							</div>
						</div>
									            
			            <div class="row">
			              <div class="col-md-6">
			                <div class="form-group">
			                  <label for="">Telefono</label>
			                  <input type="number" class="form-control" id="" placeholder="Telefono" name="telefono" [(ngModel)]="librador.contacto">
			                </div>
			              </div>
			            </div>
			            
			            <div class="row">
			            	<div class="col-md-7">
			            		<div class="form-group">
					              <label>Domicilio</label>
					              <input type="text" class="form-control" placeholder="Domicilio" name="direccion" [(ngModel)]="librador.direccion">			             
					            </div>
			            	</div>
			            </div>
			            <hr>	
			            <div class="row">
			              <div class="col-md-2">
			                <label for="obs">Observaciones</label>
			              </div>
			              <div class="col-md-4">
			                <textarea name="obs" id="" cols="20" rows="7" name="observaciones" #observaciones="ngModel" [(ngModel)]="cheque.observaciones"></textarea>
			              </div>

			            </div>
			            <span style="float: right;">
			              <button *ngIf="parmUrl" class="btn btn-success mr-2" (click)="guardarDetalleCliente(cliente)" [disabled]="!form.valid">Guardar detalle</button>
			              
			              <input [disabled]="!form.valid" *ngIf="!parmUrl" type="submit" value="Guardar" class="btn btn-success mr-2">
			            
			              <button class="btn btn-light" [routerLink]="['/tablaCheques']">Cancelar</button>
			            </span>
			    
					</form>
				</div>
			</div>
		</div>
	</div>
</div>